section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-rows: 20vh 30vh 30vh 20vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .div5{
    grid-area: 4 / 1 / 4 / 4;
    height: 90%;
    width: 95%;
    margin: auto;
    margin-left: 1rem;
    th {
      white-space: nowrap;
      width: 13%;
      font-size: 1rem;
      font-weight: 500;
      text-align: end;
      padding: 0;
      margin: 0;
      padding-right: 0.5rem;
    }
    
    td {
      min-width: 42px;
      min-height: 22px;
      max-width: 82px;
      max-width: 42px;
      font-weight: 800;
      color: black;
      text-align: center;
      font-size: 2rem;
      p{
        font-size: 1.2rem;
        position: absolute;
        margin-left: 1rem;
      }
    }
    .horas{
      color: white;
    }
  }
  
  .div1 {
    grid-area: 2 / 1 / 4 / 4;
    height: 100%;
    width: 95%;
    margin-top: 0.5rem;
    margin-left: 1rem;
    th {
      white-space: nowrap;
      width: 13%;
      font-size: 1rem;
      font-weight: 500;
      text-align: end;
      padding: 0;
      margin: 0;
      padding-right: 0.5rem;
    }
    
    td {
      position: relative;
      min-width: 42px;
      min-height: 22px;
      max-width: 82px;
      max-width: 42px;
      font-weight: 800;
      color: black;
      text-align: center;
      font-size: 2rem;
      span{
        position: absolute;
        font-size: 1.2rem;
        margin: 0px 5px;
      }
      span:nth-child(1){
        color: blue;
        bottom: 0;
        left: 0;
      }
      span:nth-child(2){
        color: white;
        bottom: 0;
        right: 0;
      }
      span:nth-child(3){
        color:purple;
        top: 0;
        right: 0;
      }
    }
  }
  .div2 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    height: 100%;
    div {
      flex: 1;
      margin: 0 5px;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      button{
        color: black;
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
    div:nth-child(1){
      background-color: #00ff00;
      color: black ;
    }
  }
  .div3 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    h1:nth-child(1){
      font-size: 3rem;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      text-align: center;
      text-transform: uppercase;
    }
  
    h1:nth-child(2){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      background-color: #00ff00;
      width: 90%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: black;
      font-weight: 800;
    }
  }
  .div4 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    div {
      flex: 1;
      margin: 0 5px;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  
  .value {
    font-weight: 700;
    padding: 1rem 0;
    font-size: 1.8rem;
  }
  
  
  .text_black {
    color: black;
  }
  
  .button {
    border: none;
    background-color: transparent;
    color: white;
  }
  
  
  mat-spinner{
    margin: auto;
  }
  
  
  .text-vermelho{
    color: red;
  }
  
  .text-verde{
    color: #00ff00;
  }
  
  .unica-1 {
    position: relative; /* Necessário para que a sombra fique dentro do elemento */
  }
  
  .unica-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 10px; /* Define a espessura do traço */
    background-color: yellow; /* Define a cor do traço */
  }
  .unica-2 {
    position: relative; /* Necessário para que a sombra fique dentro do elemento */
  }
  
  .unica-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 10px; /* Define a espessura do traço */
    background-color: rgb(132, 0, 255); /* Define a cor do traço */
  }
  
  .piscar_azul{
    animation: piscarAzul 1s ease-in-out infinite;
  }
  
  .piscar_vermelho{
    animation: piscarVermelho 1s ease-in-out infinite;
  }

  @keyframes piscarAzul {
    0%{
      background-color: #00ff00;
    }
    50%{
      background-color: #5ac5e9;
    }
    100%{
      background-color: #00ff00;
    }
  }
  @keyframes piscarVermelho {
    0%{
      background-color: #00ff00;
    }
    50%{
      background-color: red;
    }
    100%{
      background-color: #00ff00;
    }
  }

  img{
    width: 15px;
    height: 15px;
  }